[user]
    name = Abhijith V Mohan
    email = abhijith.vmohan@gmail.com

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input

[log]
    date = local
    decorate = true
    abbrevCommit = true
	mailmap = true

[alias]
    rb = rebase
    cp = cherry-pick
    psu = push origin -u HEAD
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    patch = !git --no-pager diff --no-color
    spr = !hub pr show -h $(git symbolic-ref HEAD)

[push]
    default = simple

[merge]
    defaultToUpstream = true
    conflictstyle = diff3

[diff]
    algorithm = patience

[branch]
    autosetuprebase = always

[advice]
    detachedHead = false

[pull]
    rebase = true

[rerere]
    enabled = true

[rebase]
	autoSquash = true

# For diff-so-fancy
[color]
    ui = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

# TODO preseed with pattern - '^(commit [a-f0-9]+|added:|deleted:|modified:) '
[pager]
    log = diff-so-fancy | less --tabs=4 -RFX
    show = diff-so-fancy | less --tabs=4 -RFX
    diff = diff-so-fancy | less --tabs=4 -RFX

# Overrides for work
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
