[submodule "lib/powerline"]
	path = lib/powerline
	url = git@github.com:powerline/powerline.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-battery"]
	path = tmux/.tmux/plugins/tmux-battery
	url = https://git::@github.com/tmux-plugins/tmux-battery
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tmux-copycat"]
	path = tmux/.tmux/plugins/tmux-copycat
	url = https://git::@github.com/tmux-plugins/tmux-copycat
[submodule "tmux/.tmux/plugins/tmux-open"]
	path = tmux/.tmux/plugins/tmux-open
	url = https://git::@github.com/tmux-plugins/tmux-open
[submodule "tmux/.tmux/plugins/tmux-pain-control"]
	path = tmux/.tmux/plugins/tmux-pain-control
	url = https://git::@github.com/tmux-plugins/tmux-pain-control
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-sidebar"]
	path = tmux/.tmux/plugins/tmux-sidebar
	url = https://git::@github.com/tmux-plugins/tmux-sidebar
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule "hammerspoon/.hammerspoon"]
	path = hammerspoon/.hammerspoon
	url = git@github.com:avmohan/awesome-hammerspoon.git
[submodule "tmux/.tmux/plugins/tmux-fpp"]
	path = tmux/.tmux/plugins/tmux-fpp
	url = https://git::@github.com/tmux-plugins/tmux-fpp
[submodule "tmux/.tmux/plugins/tmux-fzf"]
	path = tmux/.tmux/plugins/tmux-fzf
	url = https://git::@github.com/sainnhe/tmux-fzf
[submodule "tmux/.tmux/plugins/tmux-logging"]
	path = tmux/.tmux/plugins/tmux-logging
	url = https://git::@github.com/tmux-plugins/tmux-logging
[submodule "tmux/.tmux/plugins/tmux-mighty-scroll"]
	path = tmux/.tmux/plugins/tmux-mighty-scroll
	url = https://git::@github.com/noscript/tmux-mighty-scroll
[submodule "tmux/.tmux/plugins/tmux-power"]
	path = tmux/.tmux/plugins/tmux-power
	url = https://git::@github.com/wfxr/tmux-power
[submodule "tmux/.tmux/plugins/tmux-powerline"]
	path = tmux/.tmux/plugins/tmux-powerline
	url = https://git::@github.com/erikw/tmux-powerline
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://git::@github.com/dracula/tmux
