[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "lib/powerline"]
	path = lib/powerline
	url = git@github.com:powerline/powerline.git
