" Based on https://github.com/junegunn/dotfiles/blob/3a0e6778c91073d19c37dccdb34a8213811abf03/ideavimrc
" Note: Idea has special camel motion forward/backward => [w & [b for exclusive, ]w & ]b for inclusive.

let mapleader = " "

" Use \ as prefix for uncommon actions
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap \v :action VimFindActionIdAction<CR>
nnoremap \wd :action ToggleDistractionFreeMode<CR>
nnoremap \wp :action TogglePresentationMode<CR>
nnoremap \wz :action ToggleZenMode<CR>
nnoremap \wf :action ToggleFullScreen<CR>
nnoremap \wg :action actions.GoldenRatioToggleAction<CR>
nnoremap \\\ :action HideAllWindows<CR>
nnoremap \t :action ChangeLaf<CR>
nnoremap \l :set invrelativenumber<CR>
nnoremap \g :action CodeGlance.disable<CR>
nnoremap \] :action EditorIncreaseFontSizeGlobal<CR>
nnoremap \[ :action EditorDecreaseFontSizeGlobal<CR>
nnoremap \= :action EditorResetFontSize<CR>
nnoremap \wf :action ToggleFullScreen<CR>
nnoremap \mr :action Maven.Reimport<CR>


" Refactorings
nnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rv :action IntroduceVariable<CR>
nnoremap <leader>rc :action IntroduceConstant<CR>
nnoremap <leader>rp :action IntroduceParameter<CR>
nnoremap <leader>re :action RenameElement<CR>
nnoremap <leader>rf :action RenameFile<CR>
nnoremap <leader>rs :action ChangeSignature<CR>

nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>= :action ReformatCode<CR>


" Show line number in current line, but relative numbers in other lines
set relativenumber number

" Show hints for 5 sec
set which-key timeoutlen=5000

" Search ignores case by default, consider if using any capital letter
set ignorecase smartcase

" Search incrementally, highlight all occurrences
set incsearch hlsearch

" Scroll with offset
set scrolloff=10

" Show mode in status bar
set showmode

" Use visual bells,
set visualbell

" Useful plugins
set easymotion
set sneak
set NERDTree
set surround
set multiple-cursors
set commentary
set ReplaceWithRegister
set argtextobj
let g:argtextobj_pairs="(:),{:},<:>,[:]"
set exchange
set textobj-entire
set highlightedyank
set vim-paragraph-motion
set textobj-indent
set matchit
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_primary_color = '#e64553'
let g:qs_secondary_color = '#fe640b'
let g:qs_accepted_chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
  \ 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G',
  \ 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
  \ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '{', '}', '[', ']', '<', '>']


set idearefactormode=keep
set ideajoin


" Integrate with system clipboard
" set clipboard=unnamedplus,unnamed

" Move focus b/w splits
nnoremap <leader>h <c-w>h
nnoremap <leader>l <c-w>l
nnoremap <leader>k <c-w>k
nnoremap <leader>j <c-w>j
nnoremap <leader>w <c-w>w


" Shift active buffer b/w splits
nnoremap <leader>H :action TabShiftActions.ShiftLeft<CR>
nnoremap <leader>L :action TabShiftActions.ShiftRight<CR>
nnoremap <leader>K :action TabShiftActions.ShiftUp<CR>
nnoremap <leader>J :action TabShiftActions.ShiftDown<CR>

" Resize splits
nnoremap <c-l> :action TabShiftActions.StretchRight<CR>
nnoremap <c-h> :action TabShiftActions.StretchLeft<CR>
nnoremap <c-j> :action TabShiftActions.StretchDown<CR>
nnoremap <c-k> :action TabShiftActions.StretchUp<CR>
nnoremap <c-=> :action tabshifter.Actions.EqualSizeSplit<CR>
nnoremap <leader>m :action TabShiftActions.ToggleMaximizeRestore<CR>

" Faster vertical scroll
" nnoremap <a-j> 15gj
" nnoremap <a-k> 15gk

" Quick macro on q (so qq records in q, Q executes from q)
nnoremap Q @q

nnoremap [d :action QuickImplementations<CR>
nnoremap ]d :action QuickJavaDoc<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>

" Switch between opened project windows
nnoremap [p :action PreviousProjectWindow<CR>
nnoremap ]p :action NextProjectWindow<CR>
nnoremap <leader>gp :action GoToProject<CR>
" nnoremap <leader>gp :action ManageRecentProjects<CR>

nnoremap [[  :action Back<CR>
nnoremap ]]  :action Forward<CR>

nnoremap <leader>bb :action ToggleLineBreakpoint<CR>
nnoremap <leader>bv :action ViewBreakpoints<CR>

nnoremap <leader>ga :action GotoAction<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
" gs taken for supermethod
nnoremap <leader>gy :action GotoSymbol<CR>
nnoremap <leader>gm :action GoToRequestMapping<CR>

nnoremap <leader>ge :action RecentFiles<CR>
nnoremap <leader>gl :action RecentLocations<CR>

nnoremap <leader>fs :action FileStructurePopup<CR>

nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>ff :action FindInPath<CR>
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>su :action ShowUsages<CR>

nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>gs :action GotoSuperMethod<CR>
nnoremap <leader>gt :action GotoTest<CR>
nnoremap <leader>gr :action GotoRelated<CR>
nnoremap <leader>gb :action Annotate<CR>

" nnoremap <leader>dd :action Debug<CR>
nnoremap <leader>dc :action ChooseDebugConfiguration<CR>
nnoremap <leader>dm :action XDebugger.MuteBreakpoints<CR>
nnoremap <leader>df :action RerunFailedTests<CR>

nnoremap <leader>tq  :action CloseEditor<CR>
nnoremap <leader>tr  :action ReopenClosedTab<CR>
nnoremap <leader>tp  :action PinActiveTab<CR>
nnoremap <leader>tu  :action CloseAllUnpinnedEditors<CR>
nnoremap <leader>tQ  :action CloseAllEditors<CR>
nnoremap <leader>tt  :action ActivateTerminalToolWindow<CR>

nnoremap <leader>aj  :action AceAction<CR>

nnoremap <leader>/  :action ShowErrorDescription<CR>

nnoremap <leader>i  :action Generate<CR>
