" Based on https://github.com/junegunn/dotfiles/blob/3a0e6778c91073d19c37dccdb34a8213811abf03/ideavimrc
" Note: Idea has special camel motion forward/backward => [w & [b for exclusive, ]w & ]b for inclusive.

let mapleader = " "

set ignorecase smartcase
set incsearch hlsearch
set scrolloff=5
set showmode

set visualbell
set noerrorbells

set easymotion 
set surround 
" set multiple-cursors
set argtextobj
set vim-exchange
set highlightedyank

" Integrate with system clipboard
" set clipboard=unnamedplus,unnamed

" Moving b/w splits
nnoremap <leader>h <c-w>h
nnoremap <leader>l <c-w>l
nnoremap <leader>k <c-w>k
nnoremap <leader>j <c-w>j
nnoremap <leader>w <c-w>w
nnoremap <c-w><c-c> :action VimWindowClose<cr>

" Shifting b/w splits
nnoremap <leader>H :action TabShiftActions.ShiftLeft<cr>
nnoremap <leader>L :action TabShiftActions.ShiftRight<cr>
nnoremap <leader>K :action TabShiftActions.ShiftUp<cr>
nnoremap <leader>J :action TabShiftActions.ShiftDown<cr>

" Faster vertical scroll
nnoremap <a-j> 15gj
nnoremap <a-k> 15gk

" Quick macro on q
nnoremap Q @q

nnoremap [d :action QuickImplementations<cr>
nnoremap ]d :action QuickJavaDoc<cr>
nnoremap ]e :action GotoNextError<cr>
nnoremap [e :action GotoPreviousError<cr>

nnoremap <leader>9  :action Back<cr>
nnoremap <leader>0  :action Forward<cr>

nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>br :action ViewBreakpoints<cr>

nnoremap <leader>gc :action GotoClass<cr>
nnoremap <leader>gf :action GotoFile<cr>
nnoremap <leader>gy :action GotoSymbol<cr>
nnoremap <leader>gm :action GoToRequestMapping<cr>

nnoremap <leader>fs :action FileStructurePopup<cr>

nnoremap <leader>ga :action GotoAction<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>ff :action FindInPath<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>

nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>gt :action GotoTest<cr>
nnoremap <leader>gr :action GotoRelated<cr>
nnoremap <leader>gb :action Annotate<cr>

nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>

nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>dc :action ChooseDebugConfiguration<cr>
nnoremap <leader>rr :action Run<cr>
nnoremap <leader>rc :action ChooseRunConfiguration<cr>

nnoremap <leader>tq  :action CloseEditor<cr>
nnoremap <leader>tr  :action ReopenClosedTab<cr>
nnoremap <leader>tp  :action PinActiveTab<cr>
nnoremap <leader>tu  :action CloseAllUnpinnedEditors<cr>
nnoremap <leader>tQ  :action CloseAllEditors<cr>

nnoremap <leader>aj  :action AceAction<cr>

